init_config:

instances:
  - name: "tomcat"
    jstat: "/usr/bin/jstat"
    search_regex: "tomcat"
    user: "tomcat"

  - name: "tomcat-with-jsvc"
    jstat: "/usr/bin/jstat"
    search_regex: "jsvc.exec"
    user: "tomcat"

  - name: "jenkins-master"
    jstat: "/usr/bin/jstat"
    search_regex: "jenkins"
    user: "jenkins"

  - name: "jenkins-slave"
    jstat: "/usr/bin/jstat"
    search_regex: "^java -jar slave\.jar"
    user: "jenkins"
