init_config:
  gc:
    - column: "S0C"
      metric: "heap.survivor.0"
      tag: "class:current"
    - column: "S1C"
      metric: "heap.survivor.1"
      tag: "class:current"
    - column: "S0U"
      metric: "heap.survivor.0"
      tag: "class:used"
    - column: "S1U"
      metric: "heap.survivor.1"
      tag: "class:used"
    - column: "EC"
      metric: "heap.eden"
      tag: "class:current"
    - column: "EU"
      metric: "heap.eden"
      tag: "class:used"
    - column: "OC"
      metric: "heap.old"
      tag: "class:current"
    - column: "OU"
      metric: "heap.old"
      tag: "class:used"
    - column: "PC"
      metric: "heap.permanent"
      tag: "class:current"
    - column: "PU"
      metric: "heap.permanent"
      tag: "class:used"
    - column: "YGC"
      metric: "gc.young.count"
    - column: "YGCT"
      metric: "gc.young.time"
    - column: "FGC"
      metric: "gc.full.count"
    - column: "FGCT"
      metric: "gc.full.time"
    - column: "GCT"
      metric: "gc.total.time"



    # - heap.survivor.0
    # - heap.survivor.1
    # - heap.eden
    # - heap.old
    # - heap.permanent
    # - gc.young.count
    # - gc.young.time
    # - gc.full.count
    # - gc.full.time
    # - gc.total.time

instances:
  - tomcat_service: "tomcat-mmr"
    tags:
      - "environment:staging" 
      - "service:view"


